<config>
	<tailer>
		<input type="FILE">
			<host>yourHost</host>
			<port>yourPort</port>
			<username>username</username>
			<password>password</password>
			<filePath>/path/to/file.log</filePath>
		</input>
		<output type="LOG_APPENDER">
			<fileNamePattern>/tmp/remote-tailer/%d{yyyy-MM-dd}/file.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
		</output>
	</tailer>
</config>